* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
html, body{ 
  margin: 0 auto;
	height:100%; 
  width:100%; 
  background-color: azure;
  text-align: center;
}

@font-face {
  font-family: "Bombing";
  src: url("fonts/Bombing.ttf");
}
@font-face {
  font-family: "Cartoon3D";
  src: url("fonts/From\ Cartoon\ Blocks.ttf");
}


#title{
  font-size: 120px;
  margin-top: 10px;
  margin-left:auto;
  margin-right:auto;
  float: none;
  text-align: center;
  position: relative;;
  display:block;
  font-family: Bombing,Arial, Helvetica, sans-serif;
}
#playButton{
  box-shadow: 2.5px 6px 4px;
  display: grid;
  position: relative;
  margin-top: 20px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: rgb(106, 235, 138);
  border: none;
  color: rgb(29, 73, 9);
  font-family: Cartoon3D, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 36px;
}
#playerSelect{
  margin-top: 10px;
  margin-left:auto;
  margin-right:auto;
  
  padding: 10px 10px;
  width:40%;
  height: 30%;
  position:relative;
}
#mainMenuPlayerList{
  width:100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.mainMenuPlayerBar{
  display: block;
  margin-top: 5px;
  width: 90%;
  padding: 5% 5%;
  background-color: cadetblue;
  position:relative;
  border: 2px #cccccc solid;
}

.playerNameInputBox{
  background-color: rgb(206, 223, 255);
  display:block;
  font-size:15px;
  padding:3px;
  width: 60%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
input[type=text]:focus {
  background-color: white;
}

.x-button{
  background-image: "imgs/close-2-icon.png";
  background-color: red;
  display: inline-block;
  margin-left:65%;
  top:-25px;
  position:relative;
  left:-15px;
  width:50px;
  height:25px;
  
}

#addNewPlayer{
  font-size: 15px;
  margin:auto;
  margin-top: 5px;
  text-align: center;
}






#game_scene {
  margin:0;
  float: top left;
  top:0;
  width: 100%;
  padding: 0px;
  height: 100%;
  position:relative;
  background-color: orange;
}

#queList {
  width:50%;
  height:50%;
  float: left;
  background-color: green;
  margin:0;
  display: block;
  overflow: hidden;
}
.skillQue {
  background: cadetblue;
  float: left;
  position:relative;
  padding: 10px;
  margin-left: 35px;
  width:90%;
  margin:0;
  height:50%;
  border: 2px #cccccc solid;
}
#videoContainer{
  display: block;
  width:100%;
  height:30%;
  background-color: chartreuse;
}
.tallyContainer {
  display: block;
  position: relative;
  background-color: red;
  top:40%;
  left: 50%;
  width:40%;
  height: 40%;
  overflow: scroll;
}
.playerProfile{
background-color: #123;
}
.playerProfile image{
  background-color: #4af;
  width: 1em;
  height: 1em;
  margin: 0px;
}
.playerName{
  text-align:left;
  display: inline-block;
  color:#ffa;
  font-size: 1em;
}


#miscContainer{
  display: none;
}